<div class="shadow-lg text-xl font-sans text-light-gray bg-gradient-to-b from-lemon-green via-dark-blue to-dark-blue">
    <div class="p-8 py-48 font-mono">
        <div class="h-screen flex-cols items-center justify-center p-8 md:p-24">
            <p class="text-2xl md:text-6xl font-sans text-center p-4 text-dark-blue font-bold">
                The Berliz Platform
            </p>
            <p class="text-md md:text-lg font-sans text-center p-4 text-light-gray font-bold">
                Welcome to the Berliz Website Template case study page. Here, you'll find an overview of the project,
                the tools utilized during development, and direct links to explore the official product live.
            </p>
            <div class="flex justify-center p-4 md:p-8">
                <button class="p-2 py-2 border-2 bg-dark-blue border-lemon-green text-lemon-green shadow-lg font-bold rounded-md 
                 cursor-pointer" (click)="openVoting('https://berliz.netlify.app/')">
                    <span class="p-2">View Live</span>
                    <i-feather name="globe" class="-mt-1 text-lemon-green" style="width: 30px;"> </i-feather>
                </button>
            </div>
        </div>
        <div class="flex items-center justify-center mt-4">
            <div class="grid grid-cols items-center">
                <div class="flex-cols items-center justify-center space-y-8 p-12 md:p-24">
                    <img src="../../assets/berliz-lg.png" class="object-fit rounded-lg">
                    <img src="../../assets/berliz-sm.jpeg" class="object-fit rounded-lg block md:hidden">
                </div>
                <div class="text-sm md:text-md font-sans p-2 text-justify md:p-8">
                    <div class="grid grid-cols md:grid-cols-2 font-mono">
                        <div class="p-0 md:p-4">
                            <p class="p-2 mt-4">
                                Berliz stands as a testament to my dedication and passion for web development. As a
                                platform
                                designed to help users achieve their fitness goals, Berliz serves as a bridge connecting
                                trainers, clients, and gym centers. Its innovative features promise to transform lives
                                by
                                fostering a supportive and collaborative fitness community.
                            </p>
                            <p class="p-2 mt-4">
                                Developed using modern frameworks such as Angular and Spring Boot, Berliz boasts a rich
                                user interface and seamless functionality. Attention to detail is evident in every
                                aspect
                                of the platform, ensuring an unparalleled user experience. Despite its ongoing
                                development,
                                Berliz already showcases my expertise in web development and my commitment to pushing
                                boundaries to deliver exceptional results.
                            </p>
                            <p class="p-2 mt-4">
                                Berliz represents the culmination of my skills and experiences, demonstrating my
                                proficiency
                                in front-end and back-end technologies. Through its continued evolution, Berliz aims
                                to
                                introduce even more features and enhancements, further solidifying its position as a
                                game-changing platform in the fitness industry.
                            </p>
                            <div class="p-2 mt-4 grid grid-cols-2 md:grid-cols-4">
                                <div class="p-4 text-sm md:text-md" *ngFor="let tool of tools">
                                    <div
                                        class="text-center p-1 px-2 w-30 border-2 border-lemon-green text-light-gray font-sans rounded-md cursor-pointer">
                                        {{ tool.tool }}
                                    </div>
                                </div>
                            </div>
                            <div class="flex text-center justify-center items-center p-2 md:p-8 mt-16 hidden md:block">
                                <button class="p-2 py-2 border-2 bg-lemon-green border-dark-blue text-dark-blue shadow-lg font-bold rounded-md 
                                cursor-pointer " (click)="openVoting('https://berliz.netlify.app/')">
                                   <span class="p-2">View Live</span>
                                   <i-feather name="globe" class="-mt-1 text-dark-blue" style="width: 30px;"> </i-feather>
                               </button>
                            </div>
                        </div>
                        <div class="p-12 md:p-24">
                            <img src="../../assets/berliz-sm.jpeg" class="object-fit rounded-lg hidden md:block">
                        </div>
                    </div>
                    <div class="flex justify-center p-2 md:p-8 mt-4 block md:hidden">
                        <button class="p-2 py-2 border-2 border-lemon-green text-white font-bold font-sans rounded-md 
                             cursor-pointer" (click)="openVoting('https://berliz.netlify.app/')">
                            <span class="p-2">Explore Berliz</span>
                            <i-feather name="globe" class="-mt-1 text-lemon-green" style="width: 30px;"> </i-feather>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-12 md:p-24">
            <img src="../../assets/Berliz-partnership.png" class="object-fit rounded-md w-full">
        </div>
        <div class="grid grid-cols md:grid-cols-3">
            <div class="p-12 md:p-24 ">
                <img src="../../assets/berliz-promotion.jpeg" class="object-fit rounded-md w-full">
            </div>
            <div class="p-12 md:p-24 ">
                <img src="../../assets/berliz-contact.jpeg" class="object-fit rounded-md w-full">
            </div>
            <div class="p-12 md:p-24 ">
                <img src="../../assets/berliz-pop.jpeg" class="object-fit rounded-md w-full">
            </div>
        </div>
    </div>
</div>