<div class="relative p-2">
    <div class="text-lemon-green absolute top-0 right-0 p-1">
        <i-feather name="x-circle" (click)="closeDialog()" class="cursor-pointer"></i-feather>
    </div>
    <div class="bg-blue-100 p-6 mt-8 rounded-lg shadow-lg">
        <p class="text-sm font-sans text-justify mb-4">
            📚 Education
        </p>
        <ul class="list-disc pl-6">
            <li>Bachelor of Science in Computer System Engineering</li>
            <li>École Supérieure de Management, Télécommunication et d'Informatique SUPMTI Rabat, Rabat, Morocco</li>
            <li>2020 – 2023</li>
        </ul>
    </div>

    <div class="bg-blue-100 p-6 mt-4 rounded-lg shadow-lg">
        <p class="text-sm font-sans text-justify mb-4">
            🎓 Secondary School Leaving Certificate (SSCE - WAEC)
        </p>
        <ul class="list-disc pl-6">
            <li>St. Theresa Secondary School Udu, Delta State, Nigeria</li>
            <li>2013 – 2016</li>
        </ul>
    </div>

</div>