<div class="p-4 md:p-12 mt-12 shadow-lg text-xl font-sans text-light-gray 
            bg-gradient-to-b from-lemon-green via-dark-blue to-dark-blue">
    <div class="flex-cols items-center justify-center p-4">
        <p class="text-sm md:text-md font-sans text-justify mb-2 text-dark-blue font-bold mr-8 md:mr-64">
            Hi, my name is
        </p>
        <p class="text-2xl md:text-4xl font-sans text-justify mb-2 text-light-gray mr-8 md:mr-64 font-bold">
            Blessed Tasela
        </p>
        <p class="text-sm md:text-lg font-mono italic text-justify mb-2 mr-8 md:mr-64">
            I am an experienced software engineer and personal trainer.
        </p>
        <div class="flex items-center justify-center mt-4 font-mono">
            <div class="grid grid-cols items-center">
                <div class="flex items-center justify-center">
                    <img src="../../assets/blessed-3.jpeg" class="object-fit rounded-md w-48">
                </div>
                <div class="text-sm p-2 text-justify ">
                    <p class="p-2 mt-4">
                        With expertise in several languages of code, I am passionate about using technology to help
                        businesses and individuals problem solve and reach their goals. Through various industry,
                        private
                        client, and personal projects, I have the experience necessary to deliver superior quality
                        products. My current venture and personal project, Berliz, is a testament to my
                        ability to create technological products that meet user needs and provide optimal solutions.
                        Berliz is a platform that redefines
                        fitness through
                        technology-driven connections, by offering tailored and multimodal
                        fitness programs for users of all experience levels.
                        Berliz was inspired by my work as a personal trainer and my passion for sport and fitness. </p>
                    <div class="flex justify-center p-2">
                        <button class="p-2 py-2 border-2 border-lemon-green text-lemon-green font-sans rounded-md 
                        cursor-pointer" (click)="openBerliz('https://berliz.netlify.app/')">Check out Berliz
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>