<div class="p-4 md:p-12 mt-12 shadow-lg text-xl font-sans text-light-gray 
            bg-gradient-to-b from-lemon-green via-dark-blue to-dark-blue">
    <div class="flex-cols items-center justify-center p-4">
        <p class="text-sm md:text-md font-sans text-justify mb-2 text-dark-blue font-bold mr-8 md:mr-64">
            Hi, my name is
        </p>
        <p class="text-2xl md:text-4xl font-sans text-justify mb-2 text-light-gray mr-8 md:mr-64 font-bold">
            Blessed Tasela
        </p>
        <p class="text-sm md:text-lg font-mono italic text-justify mb-2 mr-8 md:mr-64">
            I'm the guy who helps you crush your fitness goals and debug your code.<span class="not-italic"> 😄</span>
        </p>
        <div class="flex items-center justify-center mt-4 font-mono">
            <div class="grid grid-cols items-center">
                <div class="flex items-center justify-center">
                    <img src="../../assets/blessed-3.jpeg" class="object-fit rounded-md w-48">
                </div>
                <div class="text-sm p-2 text-justify ">
                    <p class="p-2 mt-4">Combining fitness training and software engineering, I utilize technology to
                        enhance sports, music, and fitness. Berliz, my latest venture, aims to redefine fitness with
                        innovative solutions. From personalized training to web apps, Berliz offers tailored solutions.
                        Experience the transformative power of fitness tech with Berliz.</p>
                    <div class="flex justify-center p-2">
                        <button class="p-2 py-2 border-2 border-lemon-green text-lemon-green font-sans rounded-md 
                        cursor-pointer" (click)="openBerliz('https://berliz.netlify.app/')">Check out Berliz
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>