<div class="p-4 md:p-12 mt-12 shadow-lg text-xl font-sans text-light-gray 
            bg-gradient-to-b from-lemon-green via-dark-blue to-dark-blue">
    <p class="text-sm md:text-md font-sans text-justify mb-4 text-dark-blue font-bold mr-8 md:mr-64">
        Hi, my name is
    </p>
    <p class="text-4xl md:text-6xl font-sans text-justify mb-4 text-light-gray mr-8 md:mr-64  font-bold">
        Blessed Tasela
    </p>
    <p class=" text-justify mb-4 mr-8 md:mr-64">
        I'm the guy who helps you crush your fitness goals and debug your code. 😄
    </p>
    <div class="flex items-center justify-center mt-4">
        <div class="grid grid-cols-1 sm:grid-cols-none md:grid-cols-2 items-center">
            <div class="flex items-center justify-center md:justify-start">
                <img src="../assets/landing-1.jpeg" class="object-fit rounded-md h-96 w-96 w-96">
            </div>
            <div class="text-sm md:text-lg font-sans p-2 text-justify lg:-ml-30 lg:-ml-20 ml-0 ">
                👋 With a robust background spanning over 3 years in fitness training and 4 years
                in software engineering, I am deeply passionate about leveraging technology to enhance the realms of
                sports, music, and fitness. My latest endeavor, Berliz, stands as a testament to this dedication, aiming
                to redefine the fitness landscape through innovative solutions.

                At the core of my services lies a commitment to understanding and addressing the unique needs of each
                client. Whether it's crafting personalized training programs or developing cutting-edge web
                applications, I strive to deliver solutions that exceed expectations. With a keen eye for detail and a
                focus on user-centric design, rest assured that your needs are in capable hands.

                I invite you to explore Berliz and discover firsthand the transformative power of technology in fitness.
                Your journey to a stronger, healthier you begins here.
                <div class="flex justify-center p-2 md:p-8">
                    <button class="p-2 py-2 border-2 border-lemon-green text-lemon-green font-sans rounded-md 
            mr-8 md:mr-64 cursor-pointer" (click)="openBerliz('https://berliz.netlify.app/')">Check out Berliz
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>