<div class="shadow-lg text-xl font-sans text-light-gray 
            bg-gradient-to-b from-lemon-green via-dark-blue to-dark-blue">
    <div class="flex-cols items-center justify-center p-4">
        <div class="text-dark-blue text-center p-4 md:p-8 text-2xl md:4xl font-bold">
            About Me
            <div class="w-12 mx-auto border-2 p-1 bg-light-gray rounded-lg border-light-gray"></div>
        </div>
        <div class="flex items-center justify-center mt-4 font-mono">
            <div class="grid grid-cols md:grid-cols-2 items-center">
                <div class="text-sm md:text-md p-2 text-justify">
                    <p class="p-2 mt-4">
                        As someone deeply immersed in the worlds of fitness training and software engineering for over
                        4 years, I've honed my skills to leverage technology for enhancing experiences in sports,
                        music, and fitness. My latest endeavor, Berliz, epitomizes this passion and dedication, striving
                        to revolutionize the fitness industry through innovative solutions. From crafting personalized
                        training programs to developing cutting-edge web applications, Berliz offers tailored solutions
                        to address your unique needs. Embrace the transformative potential of technology in fitness with
                        Berliz - where your journey to a stronger, healthier self begins.
                    </p>
                    <div class="flex justify-center p-2">
                        <button
                            class="p-2 py-2 border-2 border-lemon-green text-lemon-green font-sans rounded-md cursor-pointer"
                            (click)="openBerliz('https://berliz.netlify.app/')">
                            Check out Berliz
                        </button>
                    </div>
                </div>
                <div class="text-mono">
                    <div class="text-light-gray text-center p-4 md:p-8 text-2xl md:4xl font-bold">
                        My Top Skills
                    </div>
                    <div class="grid grid-cols-2 md:grid-cols-4">
                        <div class="p-4 text-sm md:text-md" *ngFor="let skill of skills">
                            <div
                                class="text-center p-1 px-2 w-30 border-2 border-lemon-green text-light-gray font-sans rounded-md cursor-pointer">
                                {{ skill.skill }}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>