<div class="shadow-lg text-xl font-mono text-light-gray bg-gradient-to-b from-lemon-green via-dark-blue to-dark-blue">
    <div class="p-8 py-24">
        <p class="text-xl md:text-4xl font-sans text-center mb-4 text-dark-blue font-bold">
            About Me
        </p>
        <p class="mt-4 w-12 mx-auto border-2 p-1 bg-light-gray rounded-lg border-light-gray"></p>
    </div>
    <div class="flex items-center justify-center mt-4 font-mono">
        <div class="grid grid-cols md:grid-cols-2 items-center">
            <div class="text-sm md:text-md p-2 text-justify">
                <p class="p-2 mt-4">
                    I receved my bachelors degree in software engineering from the prestigious Sup MTI in Rabat,
                    Morocco. There, I gained foundational experience with Java, JavaScript, SQL, C, HTML, CSS, PHP,
                    Python, R, and many more. While in school, I regularly competed in hackathons and coding
                    competitions; many of which I placed or won outright. I re-enforced my experience through my
                    internship with software solutions
                    firm Mapersive Cassablanca, Morocco. During my internship I also learned modern coding frameworks
                    such as Angular, SpringBoot, Tailwind, Bootstrap. There, I also learned how to host web applications
                    on cloud platforms such as AWS, and Netlify, as well as web socket for real time communication
                    between servers. To cement my skills, I obtained certificates for PHP Laravel and Blender training
                    with ODC Rabat, Morocco; there I also did
                    soft skills training to improve my communication.
                <div class="flex justify-center p-2">
                    <button
                        class="p-2 py-2 border-2 border-lemon-green text-lemon-green font-sans rounded-md cursor-pointer"
                        (click)="openBerliz('https://berliz.netlify.app/')">
                        Check out Berliz
                    </button>
                </div>
            </div>
            <div class="text-mono">
                <div class="text-light-gray text-center p-4 md:p-8 text-2xl md:4xl font-bold">
                    My Top Skills
                </div>
                <div class="grid grid-cols-2 md:grid-cols-4">
                    <div class="p-4 text-sm md:text-md" *ngFor="let skill of skills">
                        <div
                            class="text-center p-1 px-2 w-30 border-2 border-lemon-green text-light-gray font-sans rounded-md cursor-pointer">
                            {{ skill.skill }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>