<nav
  class="bg-white shadow-lg rounded-b-lg flex fixed w-full justify-center justify-between md:justify-center text-md font-bold text-gray-900">
  <div class="font-sans flex items-center justify-start p-1 mx-2 gap-4">
    <a href="/#home" (click)="scrollToComponent('home')" class="flex items-center justify-start gap-2">
      <img class="rounded-full w-16" src="../../assets/blessed-4.jpeg">
      <div class="mx-auto">
        <div class=" text-center font-bold text-md md:text-xl">
          Blessed Tasela
        </div>
      </div>
    </a>
  </div>
  <div class="flex items-center justify-center flex-1">
    <div
      class="cursor-pointer hover:scale-105 hover:text-lemon-blue flex items-center justify-center mt-1 block md:hidden">
      <span class="text-gray-900 border-2 border-lemon-blue p-1 rounded-md hover:text-lemon-blue"
        (click)="openResume()">
        Resume
      </span>
    </div>
    <div class="hidden md:block">
      <ul class="p-4 flex items-center gap-4 lg:gap-8 font-sans">
        <li class="cursor-pointer hover:scale-105 hover:text-lemon-blue">
          <a href="/#home" (click)="scrollToComponent('home')">
            Home
          </a>
        </li>
        <li class="cursor-pointer hover:scale-105 hover:text-lemon-blue">
          <a href="/#about" (click)="scrollToComponent('about')">
            About
          </a>
        </li>
        <li class="cursor-pointer hover:scale-105 hover:text-lemon-blue">
          <a href="/#contact" (click)="scrollToComponent('contact')">
            Contact
          </a>
        </li>
        <li class="cursor-pointer hover:scale-105 hover:text-lemon-blue">
          <a href="/#projects" (click)="scrollToComponent('projects')">
            Projects
          </a>
        </li>
        <li class="cursor-pointer hover:scale-105 hover:text-lemon-blue">
          <a href="/#services" (click)="scrollToComponent('services')">
            Services
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex justify-end items-center mx-4">
    <ul class="p-4 flex items-center font-mono hidden md:flex">
      <li class="cursor-pointer hover:scale-105 hover:text-lemon-blue">
        <a href="https://www.instagram.com/tasela_berliz/" target="_blank">
          <i-feather name="instagram" class="  p-2 cursor-pointer hover:scale-105 hover:text-lemon-blue"
            style="width: 40px;"></i-feather>
        </a>
      </li>
      <li class="cursor-pointer hover:scale-105 hover:text-lemon-blue" >
        <a href="https://www.linkedin.com/in/blessed-tasela-b9071920a/" target="_blank">
          <i-feather name="linkedIn" class="  p-2 cursor-pointer hover:scale-105 hover:text-lemon-blue"
            style="width: 40px;"></i-feather>
        </a>
      </li>
      <li class="cursor-pointer hover:scale-105 hover:text-lemon-blue">
        <a href="https://www.facebook.com/tasela.berlizyo/" target="_blank">
          <i-feather name="facebook" class="  p-2 cursor-pointer hover:scale-105 hover:text-lemon-blue"
            style="width: 40px;"></i-feather>
        </a>
      </li>
      <li class="cursor-pointer hover:scale-105 hover:text-lemon-blue">
        <a href="https://github.com/blessedtasela" target="_blank">
          <i-feather name="github" class="p-2 cursor-pointer hover:scale-105 hover:text-lemon-blue"
            style="width: 40px;"></i-feather>
        </a>
      </li>
      <li class="cursor-pointer hover:scale-105 hover:text-lemon-blue text-sm mt-1 ">
        <span class="text-gray-900 border-2 border-lemon-blue p-1 rounded-md hover:text-lemon-blue"
          (click)="openResume()">
          Resume
        </span>
      </li>
    </ul>
  </div>
  <div *ngIf="!menuOpen" class="md:hidden p-2">
    <i-feather name="align-justify" (click)="toggleMenu()" class="text-lemon-blue  p-2 cursor-pointer md:hidden"
      style="width: 40px;"></i-feather>
  </div>
  <div *ngIf="menuOpen" class="md:hidden p-2 z-10">
    <i-feather name="x" (click)="toggleMenu()" class=" text-lemon-blue p-2 cursor-pointer md:hidden"
      style="width: 40px;"></i-feather>
  </div>
  <div class=" md:hidden block h-full w-full bg-white text-dark-blue transform duration-400 
  ease-in-out transition-opacity fixed" [ngClass]="{'hidden': !menuOpen}">
    <div class="flex flex-col items-center justify-center gap-8 text-xl mt-4">
      <ul class="p-4 flex-cols items-center justify-center gap-4 space-y-12 font-mono mt-10 gap-16">
        <div class="cursor-pointer">
          <span class="text-gray-900 border-2 border-lemon-blue p-1 rounded-md" (click)="openResume()">
            Resume</span>
        </div>
        <li class="cursor-pointer hover:scale-105 hover:text-lemon-blue">
          <a href="/#home" (click)="scrollToComponent('home')">
            Home
          </a>
        </li>
        <li class="cursor-pointer hover:scale-105 hover:text-lemon-blue">
          <a href="/#about" (click)="scrollToComponent('about')">
            About
          </a>
        </li>
        <li class="cursor-pointer hover:scale-105 hover:text-lemon-blue">
          <a href="/#contact" (click)="scrollToComponent('contact')">
            Contact
          </a>
        </li>
        <li class="cursor-pointer hover:scale-105 hover:text-lemon-blue">
          <a href="/#projects" (click)="scrollToComponent('projects')">
            Projects
          </a>
        </li>
        <li class="cursor-pointer hover:scale-105 hover:text-lemon-blue">
          <a href="/#services" (click)="scrollToComponent('services')">
            Services
          </a>
        </li>
      </ul>
      <ul class="p-4 flex items-center justify-center font-mono font-bold " [ngClass]="{'hidden': !menuOpen}">
        <li class="cursor-pointer hover:scale-105 hover:text-lemon-blue">
          <a href="https://www.instagram.com/tasela_berliz/" target="_blank">
            <i-feather name="instagram" class="  p-2 cursor-pointer hover:scale-105 hover:text-lemon-blue"
              style="width: 40px;"></i-feather>
          </a>
        </li>
        <li class="cursor-pointer hover:scale-105 hover:text-lemon-blue">
          <a href="https://www.linkedin.com/in/blessed-tasela-b9071920a/" target="_blank">
            <i-feather name="linkedIn" class="  p-2 cursor-pointer hover:scale-105 hover:text-lemon-blue"
              style="width: 40px;"></i-feather>
          </a>
        </li>
        <li class="cursor-pointer hover:scale-105 hover:text-lemon-blue">
          <a href="https://www.facebook.com/tasela.berlizyo/" target="_blank">
            <i-feather name="facebook" class="  p-2 cursor-pointer hover:scale-105 hover:text-lemon-blue"
              style="width: 40px;"></i-feather>
          </a>
        </li>
        <li class="cursor-pointer hover:scale-105 hover:text-lemon-blue">
          <a href="https://github.com/blessedtasela" target="_blank">
            <i-feather name="github" class="p-2 cursor-pointer hover:scale-105 hover:text-lemon-blue"
              style="width: 40px;"></i-feather>
          </a>
        </li>
        <li class="cursor-pointer hover:scale-105 hover:text-lemon-blue text-sm mt-1 ">
          <span class="text-gray-900 border-2 border-lemon-blue p-1 rounded-md hover:text-lemon-blue"
            (click)="openResume()">
            Resume
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>