<div class="shadow-lg text-xl font-mono text-light-gray bg-gradient-to-b from-lemon-green via-dark-blue to-dark-blue">
    <div class="p-8 py-24">
        <p class="text-xl md:text-4xl font-sans text-center mb-4 text-dark-blue font-bold">
            Top Projects
        </p>
        <p class="mt-4 w-12 mx-auto border-2 p-1 bg-light-gray rounded-lg border-light-gray"></p>
    </div>
    <div class="flex items-center justify-center mt-4 font-mono">
        <div class="grid grid-cols md:grid-cols-2 items-center">
            <div class="text-sm md:text-md p-2 text-justify">
                <p class="p-4 mt-4">
                    I've successfully led diverse projects spanning landing pages, a YouTube clone app, blogs, fitness
                    apps, e-commerce platforms, school management systems, console applications, and desktop
                    applications. Each project reflects my versatility and commitment to delivering high-quality
                    solutions tailored to specific client requirements.
                </p>
            </div>
            <div class="flex justify-center p-2">
                <img src="../../assets/p1.png" class="object-cover mx-auto w-64">
            </div>
        </div>
    </div>
</div>