<div class="shadow-lg text-xl font-mono text-gray-900 bg-gradient-to-b from-dark-gray via-light-gray to-dark-gray">
    <div class="p-8 md:p-32">
        <p class="text-2xl md:text-4xl font-mono text-center mb-4 font-bold">
            Top Projects
        </p>
        <p class="mt-4 w-12 mx-auto border-2 p-1 bg-lemon-blue rounded-lg border-lemon-blue"></p>
    </div>
    <div class="flex items-center justify-center font-mono mt-0 md:-mt-32">
        <div class="p-4 px-0 md:px-32 mt-4 text-center">
            <div class="text-sm md:text-lg p-2">
                <p class="p-4 mt-4">
                    I've successfully led diverse projects spanning landing pages, a YouTube clone app, blogs, fitness
                    apps, e-commerce platforms, school management systems, console applications, and desktop
                    applications. Each project reflects my versatility and commitment to delivering high-quality
                    solutions tailored to specific client requirements.
                </p>
            </div>
            <div class="flex justify-center p-2">
                <img src="../../assets/p1.png" class="object-cover mx-auto w-64">
            </div>
        </div>
    </div>
</div>