<div class="shadow-lg text-xl font-mono text-light-gray bg-gradient-to-b from-lemon-green via-dark-blue to-dark-blue">
    <div class="p-8 py-24">
        <p class="text-xl md:text-4xl font-sans text-center mb-2 text-dark-blue font-bold">
            Voting Blog
        </p>
        <p class="w-12 mx-auto border-2 p-1 bg-light-gray rounded-lg border-light-gray"></p>
    </div>
    <div class="flex items-center justify-center mt-4 font-mono">
        <div class="grid grid-cols md:grid-cols-2 items-center">
            <div class="p-4 md:p-12">
                <img src="../../assets/article-voting.png" class="object-fit rounded-md">
            </div>
            <div class="text-sm md:text-md p-2 text-justify">
                <div class="text-light-gray text-center p-4 md:p-8 text-2xl md:4xl font-bold">
                    Crafting Engaging User Experiences: Article Voting Blog
                </div>
                <p class="p-2 mt-4">
                    During my internship at Merpersive Casablanca, I embarked on my Angular journey, leading to the
                    creation of the Article Voting blog. This project revolutionized user engagement by enabling dynamic
                    interactions with articles, tailoring content to individual preferences. Article Voting featured a
                    dynamic sorting algorithm, ensuring the prominence of popular articles, and encouraged user
                    contributions, fostering a diverse content ecosystem. Through this endeavor, I refined my skills in
                    Angular, TypeScript, and Bootstrap integration, gaining insights into form development, sorting
                    algorithms, and UI optimization. Article Voting not only demonstrated my technical proficiency but
                    also enriched my grasp of user-centric design principles and community-driven platforms.
                </p>
                <div class="flex justify-center p-2">
                    <button
                        class="p-2 py-2 border-2 border-lemon-green text-lemon-green font-sans rounded-md cursor-pointer"
                        [routerLink]="">
                        Overwiew
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>