<div class="shadow-lg text-xl font-sans text-gray-900 bg-gradient-to-b from-dark-gray via-light-gray to-dark-gray">
    <div class="p-8 py-24">
        <p class="text-xl md:text-4xl font-sans text-center mb-2 text-dark-blue font-bold">
            Mirals
        </p>
        <p class="w-12 mx-auto border-2 p-1 bg-lemon-blue rounded-lg border-lemon-blue"></p>
    </div>
    <div class="flex items-center justify-center mt-4 font-sans">
        <div class="grid grid-cols md:grid-cols-2 items-center">
            <div class="p-4 md:p-12">
                <img src="../../assets/mirals-md.png" class="object-fit rounded-md">
            </div>
            <div class="text-sm md:text-md p-2 text-justify">
                <div class="text-gray-900 text-center p-4 md:p-8 text-2xl md:4xl font-bold">
                    Delivering Excellence: The Mirals Landing Page
                </div>
                <p class="p-2 mt-4">
                    In crafting Mirals' landing page, I showcased my expertise, initially highlighted in my LinkedIn
                    portfolio. Upon Mirals' outreach for their landing page requirements, I meticulously tailored the
                    page to reflect their professional skills and achievements. Employing HTML, CSS, and JavaScript, I
                    ensured an immersive interface that accurately represented Mirals' brand identity. Despite facing
                    tight deadlines, my commitment to delivering results remained steadfast. I successfully completed
                    the project within the stipulated timeframe, demonstrating my ability to thrive under pressure. This
                    endeavor not only underscored my technical proficiency but also deepened my understanding of client
                    expectations. It reaffirmed my dedication to providing bespoke solutions that surpass client needs,
                    even amid challenging circumstances.
                </p>
                <div class="flex justify-center p-2">
                    <button
                        class="p-2 py-2 border-2 border-lemon-blue text-white bg-lemon-blue font-sans rounded-md cursor-pointer">
                        <a
                            [routerLink]="['/mirals']">
                            Overwiew
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>