<div class="shadow-lg text-xl font-mono text-gray-900 bg-gradient-to-b from-dark-gray via-light-gray to-dark-gray">
    <div class="p-8 py-24">
        <p class="text-xl md:text-4xl font-sans text-center mb-2 text-dark-blue font-bold">
            YouTube Clone
        </p>
        <p class="w-12 mx-auto border-2 p-1 bg-lemon-blue rounded-lg border-lemon-blue"></p>
    </div>
    <div class="flex items-center justify-center mt-4 font-mono">
        <div class="grid grid-cols md:grid-cols-2 items-center">
            <div class="p-4 md:p-12">
                <img src="../../assets/youtube-clone.png" class="object-fit rounded-md" alt="YouTube Clone Screenshot">
            </div>
            <div class="text-sm md:text-md p-2 text-justify">
                <div class="text-gray-900 text-center p-4 md:p-8 text-2xl md:4xl font-bold">
                    Building the Future: YouTube Web App Clone
                </div>
                <p class="p-2 mt-4">
                    The YouTube Web App Clone project was developed to create a user-friendly interface that emulates
                    YouTube's real-time search feature. My goal was to enhance user experience by allowing seamless
                    video search and playback, similar to the original platform.
                </p>
                <p class="p-2 mt-4">
                    During development, I focused on mastering TypeScript and utilizing various APIs to fetch video
                    data. The application efficiently implements search algorithms, displaying instant results as users
                    type, providing an interactive experience.
                </p>
                <p class="p-2 mt-4">
                    Key features of the application include:
                </p>
                <p class="p-2 mt-4">
                    - Real-time video search functionality, allowing users to find videos quickly.
                </p>
                <p class="p-2 mt-4">
                    - Responsive design principles, ensuring accessibility across different devices and screen sizes.
                </p>
                <p class="p-2 mt-4">
                    - Integration with YouTube's API for fetching video details, enhancing data accuracy and relevance.
                </p>
                <div class="flex justify-center p-2">
                    <button
                        class="p-2 py-2 border-2 border-lemon-blue text-white bg-lemon-blue font-sans rounded-md cursor-pointer">
                        <a href="https://github.com/blessedtasela/youtube-video-clone" target="_blank">
                            Explore on GitHub
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>