<div class="relative p-2">
    <div class="text-white bg-lemon-blue absolute top-0 right-0 p-1">
        <i-feather name="x-circle" (click)="closeDialog()" class="cursor-pointer"></i-feather>
    </div>
    <div class="bg-blue-100 p-6 mt-8 rounded-lg shadow-lg">
        <p class="text-sm font-sans text-justify mb-4">
          📱 Mobile: <a href="tel:+2120610310304" class="text-blue-500">+212 0 610 310 304</a>
        </p>
        <p class="text-sm font-sans text-justify mb-4">
          <i class="fab fa-whatsapp text-green-500"></i> Whatsapp: 
          <a href="https://wa.me/2120610310304" class="text-green-500">+212 0 610 310 304</a>
        </p>
        <p class="text-sm font-sans text-justify mb-4">
          <i class="fab fa-linkedin text-indigo-500"></i> LinkedIn: 
          <a href="https://www.linkedin.com/in/blessed-tasela-b9071920a" class="text-indigo-500" target="_blank">
            blessed-tasela</a>
        </p>
        <p class="text-sm font-sans text-justify mb-4">
          <i class="fab fa-github text-gray-800"></i> GitHub:
           <a href="https://github.com/blessedtasela" class="text-gray-800" target="_blank">blessedtasela</a>
        </p>
        <p class="text-sm font-sans text-justify mb-4">
          ✉️ Email: <a href="mailto:taselablessed@gmail.com" class="text-red-500">
            taselablessed@gmail.com</a>
        </p>
      </div>
      
</div>