<app-landing></app-landing>
<app-about id="about"></app-about>
<app-contact id="contact"></app-contact>
<app-projects id="projects"></app-projects>
<app-berliz id="berliz"></app-berliz>
<app-fight-fusion id="figt-fusion" />
<app-simply-assign id="simply-assign"></app-simply-assign>
<app-mini-ecom-jquery id="mini-ecom" />
<app-easylife id="easy-life"></app-easylife>
<app-youtube id="youtube"></app-youtube>
<app-services id="services"></app-services>
<app-scroll-to-top id="scrollToTop"></app-scroll-to-top>