<div
    class="h-screen shadow-lg text-xl font-mono text-gray-900 bg-gradient-to-b from-dark-gray via-light-gray to-dark-gray">
    <div class="p-8 py-24">
        <div class="text-xl md:text-4xl font-sans text-center mb-2 text-dark-blue font-bold">
            <div class="flex items-center justify-center mt-4 font-mono">
                <div class="grid grid-cols items-center">
                    <div class="text-sm md:text-md p-2 text-justify">
                        <div class="text-xl md:text-4xl font-sans text-center mb-4 text-dark-blue font-bold">
                            Amazing Testimonials From Thoughtful Clients
                            <p class="w-24 mt-4 mx-auto border-2 p-1 bg-lemon-blue rounded-lg border-lemon-blue"></p>
                        </div>
                        <p class="p-2 mt-4 text-gray-900 text-sm md:text-lg">
                            Our collection of testimonials from discerning clients speaks volumes about their
                            satisfaction with
                            our services. Each testimonial reflects the genuine appreciation and gratitude of
                            individuals who
                            have experienced the quality and excellence of our work firsthand. These testimonials serve
                            as a
                            testament to our commitment to delivering exceptional results and exceeding our clients'
                            expectations.
                        </p>
                        <div class="flex justify-center text-sm md:text-lg p-8">
                            <button
                                class="p-4 border-2 bg-lemon-green border-lemon-blue text-dark-blue font-sans rounded-md cursor-pointer">
                                <a [routerLink]="['/testimonials']">
                                    See all Clients Reviews
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>