<section class="bg-gradient-to-b from-lemon-green via-dark-blue to-dark-blue h-screen">
  <div class="w-full h-full ">
    <app-navbar></app-navbar>
    <hr class="border-lemon-green">
    <app-about id="about"></app-about>
    <app-contact id="contact"></app-contact>
    <div id="projects">
      <app-berliz id="berliz"></app-berliz>
      <app-mariam id="mariam"></app-mariam>
      <app-youtube id="youtube"></app-youtube>
      <app-voting id="voting"></app-voting>
    </div>
    <app-services id="services"></app-services>
    <app-testimonial id="testimonials"></app-testimonial>
    <app-footer id="footer"></app-footer>
  </div>
</section>