<div class="shadow-lg text-xl font-mono text-gray-900 bg-gradient-to-b from-dark-gray via-light-gray to-dark-gray">
    <div class="p-8 py-24">
        <p class="text-xl md:text-4xl font-sans text-center mb-2 text-dark-blue font-bold">
            Fight Fusion
        </p>
        <p class="w-12 mx-auto border-2 p-1 bg-lemon-blue rounded-lg border-lemon-blue"></p>
    </div>
    <div class="flex items-center justify-center mt-4 font-mono">
        <div class="grid grid-cols md:grid-cols-2 items-center">
            <div class="p-4 md:p-12">
                <img src="../../assets/fight-fusion-lg.png" class="object-fit rounded-md" alt="Fight Fusion logo">
            </div>
            <div class="text-sm md:text-md p-2 text-justify">
                <div class="text-gray-900 text-center p-4 md:p-8 text-2xl md:4xl font-bold">
                    Behind the Development: Fight Fusion
                </div>
                <p class="p-2 mt-4">
                    I’m thrilled to introduce Fight Fusion—a dynamic, web-based combat game that I developed using JavaScript and jQuery! This project allowed me to dive deep into game mechanics and interactive programming while focusing on delivering an engaging user experience.
                </p>
                <p class="p-2 mt-4">
                    In Fight Fusion, the player faces off against a computer opponent in a series of fast-paced rounds. Each round presents new challenges, requiring a mix of strategy and reflexes. As a developer, I focused on creating seamless gameplay interactions, collision detection, and responsive controls to enhance the game's fluidity and user engagement.
                </p>
                <p class="p-2 mt-4">
                    This project helped me sharpen my skills in real-time logic handling, UI design, and user feedback mechanisms. I'm constantly evolving the game, incorporating player feedback, and exploring new features to improve the overall experience.
                </p>
                <div class="flex justify-center p-2">
                    <button class="p-2 py-2 border-2 border-lemon-blue text-white bg-lemon-blue font-sans rounded-md cursor-pointer">
                        <a href="https://fight-fusion.netlify.app" target="_blank">
                            Play Live
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
