<div class="shadow-lg text-xl font-mono text-gray-900 bg-gradient-to-b from-dark-gray via-light-gray to-dark-gray">
    <div class="p-8 py-24">
        <p class="text-xl md:text-4xl font-sans text-center mb-2 text-dark-blue font-bold">
            Music Library UI
        </p>
        <p class="w-12 mx-auto border-2 p-1 bg-lemon-blue rounded-lg border-lemon-blue"></p>
    </div>
    <div class="flex items-center justify-center mt-4 font-mono">
        <div class="grid grid-cols md:grid-cols-2 items-center">
            <div class="p-4 md:p-12">
                <img src="../../assets/music-ui-lg.png" class="object-fit rounded-md" alt="Music Library UI Screenshot">
            </div>
            <div class="text-sm md:text-md p-2 text-justify">
                <div class="text-gray-900 text-center p-4 md:p-8 text-2xl md:4xl font-bold">
                    Explore Your Favorite Music Albums
                </div>
                <p class="p-2 mt-4">
                    I recently created a Music Library UI using React and Vite to deepen my understanding of React. Having previously worked with Angular, I found the component-based architecture familiar, but learning how React manages state with hooks like <code>useState</code> has been incredibly insightful.
                </p>
                <p class="p-2 mt-4">
                    The application allows users to select albums and view details, such as cover images and track lists. I developed custom components like <code>Albums</code>, <code>Gallery</code>, and <code>Tracks</code>, with <code>useState</code> managing the currently selected album to create a dynamic and responsive UI. Users can also add more music to the library, which updates immediately, demonstrating the benefits of props and <code>useState</code> for state management and data flow between components.
                </p>
                <p class="p-2 mt-4">
                    Key Learning Highlights include:
                </p>
                <p class="p-2 mt-2">
                    - Using React hooks like <code>useState</code> for effective state management
                </p>
                <p class="p-2 mt-2">
                    - Vite's impressive performance for fast builds and a smooth development experience
                </p>
                <p class="p-2 mt-2">
                    I'm excited to continue expanding this project and applying the knowledge I've gained to future work.
                </p>
                <div class="flex justify-center p-2">
                    <button class="p-2 py-2 border-2 border-lemon-blue text-white bg-lemon-blue font-sans rounded-md cursor-pointer">
                        <a href="https://github.com/blessedtasela/music-ui-sim" target="_blank">
                            Explore on GitHub
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
