<div class="relative p-2">
    <div class="text-white bg-lemon-blue absolute top-0 right-0 p-1">
        <i-feather name="x-circle" (click)="closeDialog()" class="cursor-pointer"></i-feather>
    </div>
    <div class="bg-blue-100 p-6 mt-8 rounded-lg shadow-lg">
        <p class="text-sm font-sans text-justify mb-4">
            👨‍💻 Berliz - Full Stack Developer | 2023
        </p>
        <ul class="list-disc pl-6">
            <li>Designed and crafted website templates, focusing on the landing page and frontend user experience.</li>
            <li>Constructed client-facing pages (e.g., Contact Us, About, Landing, Berliz offerings) with Angular.</li>
            <li>Ensured project compliance by conducting rigorous testing.</li>
            <li>Effectively managed dependencies with Maven.</li>
            <li>Hosted Angular and Spring Boot apps for seamless REST API integration.</li>
        </ul>
    </div>

    <div class="bg-blue-100 p-6 mt-4 rounded-lg shadow-lg">
        <p class="text-sm font-sans text-justify mb-4">
            💼 Merpasive - Internship | April 2023
        </p>
        <ul class="list-disc pl-6">
            <li>Enhanced proficiency in Angular and Spring Boot.</li>
            <li>Actively participated in daily sprints and scrum meetings within the Merpasive team.</li>
            <li>Developed an article blog application, enabling article posting, voting, and edits.</li>
            <li>Initiated Berliz development during my internship.</li>
            <li>Designed and developed an ecommerce desktop application using Java Swing.</li>
        </ul>
    </div>

    <div class="bg-blue-100 p-6 mt-4 rounded-lg shadow-lg">
        <p class="text-sm font-sans text-justify mb-4">
            🥋 Martial Artist and Fitness Coach
        </p>
        <ul class="list-disc pl-6">
            <li>Trained individuals online and in contact martial arts.</li>
            <li>Created personalized meal plans for clients.</li>
            <li>Helped clients achieve their fitness goals.</li>
        </ul>
    </div>

    <div class="bg-blue-100 p-6 mt-4 rounded-lg shadow-lg">
        <p class="text-sm font-sans text-justify mb-4">
            🎤 Singer and Vocal Coach
        </p>
        <ul class="list-disc pl-6">
            <li>Member of the music band "Triumphant Praise Singers."</li>
            <li>Actively participated in drama performances.</li>
            <li>Coached and trained vocal skills.</li>
        </ul>
    </div>



    <div class="bg-blue-100 p-6 mt-4 rounded-lg shadow-lg">
        <p class="text-sm font-sans text-justify mb-4">
            🎭 Acting
        </p>
        <ul class="list-disc pl-6">
            <li>Participated in various drama performances.</li>
        </ul>
    </div>

</div>