<div class="shadow-lg text-xl font-mono text-light-gray bg-gradient-to-b from-lemon-green via-dark-blue to-dark-blue">
    <div class="p-8 py-48">
        <p class="text-xl md:text-4xl font-sans text-center mb-4 text-dark-blue font-bold">
            How I can help you .........
        </p>
        <div class="grid grid-cols md:grid-cols-2 gap-4 md:gap-12 justify-center items-center">
            <div class="p-8 md:p-24">
                <img src="../../assets/blessed-2.jpeg" class="rounded-full object-cover">
            </div>
            <div class="flex-cols justify-center items-center text-sm md:text-lg p-2 md:p-8">
                    <ul class="space-y-4 text-md md:text-lg font-bold text-light-gray gap-8">
                        <li><span class="text-lemon-green font-bold p-2">✓✓</span>Web Development</li>
                        <li><span class="text-lemon-green font-bold p-2">✓✓</span>Custom Landing Pages</li>
                        <li><span class="text-lemon-green font-bold p-2">✓✓</span>Personalized Program Instruction</li>
                        <li><span class="text-lemon-green font-bold p-2">✓✓</span>Tailored Personal Training</li>
                        <li><span class="text-lemon-green font-bold p-2">✓✓</span>Comprehensive Online Training</li>
                        <li><span class="text-lemon-green font-bold p-2">✓✓</span>Customized Meal Plannimg</li>
                    </ul>
                <div class="flex items-center justify-center text-center p-2 md:p-8 mt-4 hidden md:block text-md">
                    <a href="{{ emailLink }}" target="_blank" rel="noopener noreferrer">
                        <button
                            class="p-2 py-2 border-2 border-lemon-green italic text-light-gray font-bold rounded-md cursor-pointer">
                            Reach out to me
                            <i-feather name="mail" class="-mt-1 text-lemon-green" style="width: 30px;"></i-feather>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center p-2 md:p-8 mt-4 block md:hidden text-sm">
            <a href="{{ emailLink }}" target="_blank" rel="noopener noreferrer">
                <button
                    class="p-2 py-1 border-2 border-lemon-green text-light-gray italic font-bold rounded-md cursor-pointer">
                    <span class="mt-1">Reach out to me</span>
                    <i-feather name="mail" class="p-1 text-lemon-green" style="width: 32px;"></i-feather>
                </button>
            </a>
        </div>
    </div>
</div>