<div class="relative p-2 font-sans">
    <div class="text-lemon-green absolute top-0 right-0 p-1">
        <i-feather name="x-circle" (click)="closeDialog()" class="cursor-pointer"></i-feather>
    </div>
    <div class="bg-blue-100 p-6 rounded-lg shadow-lg mt-8">
        <p class="text-sm font-sans text-justify mb-4">
            👋 Meet Blessed Tasela, a 23-year-old sensation hailing from Udu LGA, Delta State, Nigeria. Blessed is
            redefining the world of fitness and coaching with his passion for sports and fitness, and his dedication to
            making positive changes in the fitness industry.
        </p>
    </div>

    <div class="bg-blue-100 p-6 mt-4 rounded-lg shadow-lg">
        <p class="text-sm font-sans text-justify mb-4">
            💪 With over 2 years of experience as a fitness trainer and enthusiast, Blessed is well-versed in various
            fitness disciplines, including boxing, cardio, kickboxing, and jiu-jitsu. His expertise in these areas
            allows him to craft personalized and effective training programs tailored to your unique needs and goals.
        </p>
    </div>

    <div class="bg-blue-100 p-6 mt-4 rounded-lg shadow-lg">
        <p class="text-sm font-sans text-justify mb-4">
            📚 Blessed Tasela is also a software engineer, graduating from one of the best universities in Morocco,
            SUPMTI Rabat. He did an internship training at Casablanca in Merpersive, where he learned new technologies
            and skills, and improved his Berliz application from the internship. He continues to refine his application,
            demonstrating a strong commitment to his career in software engineering.
        </p>
    </div>

    <div class="bg-blue-100 p-6 mt-4 rounded-lg shadow-lg">
        <p class="text-sm font-sans text-justify mb-4">
            🚀 As a software engineer and fitness coach, Blessed combines his technical expertise with his passion for
            sports and fitness. Fluent in multiple languages, including English 🇬🇧 and French 🇫🇷, he connects with
            clients from diverse backgrounds, ensuring a holistic approach to their fitness and technology needs.
        </p>
    </div>

    <div class="bg-blue-100 p-6 mt-4 rounded-lg shadow-lg">
        <p class="text-sm font-sans text-justify mb-4">
            💼 Blessed Tasela is a versatile professional who excels in software engineering, fitness coaching, and
            sports. His dedication to inspiring and transforming lives with technology is evident in his belief that
            technology is all about making lives better. He is not only a developer but also a singer, model, and nature
            enthusiast, showcasing his talents in various domains.
        </p>
    </div>

    <div class="bg-blue-100 p-6 mt-4 rounded-lg shadow-lg">
        <p class="text-sm font-sans text-justify mb-4">
            🌟 Don't miss the chance to experience the transformative power of Blessed Tasela's coaching services and
            his contributions to the world of technology. Subscribe to his services today and witness the remarkable
            changes that await you. The journey to a stronger, healthier, and more confident you, empowered by
            technology and fitness, starts now.
        </p>
    </div>
    <div class="flex justify-center mt-8">
        <!-- <img src="../../assets/bt.jpeg" alt="Your Image" class="w-64 h-64 rounded-full"> -->
    </div>
</div>